
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="breadcrumb-item" routerLink="/customer-detail/{{Branch.CustomerId}}" 
        routerLinkActive="active">Customer Detail</a>
        <a class="breadcrumb-item" routerLink="/customer-branches/{{Branch.CustomerId}}" 
        routerLinkActive="active">Customer Branches</a>
        <a class="breadcrumb-item active">Branch Detail</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <mat-card style="margin-top:2%">
        <mat-card-header>
          <mat-card-title>Branch : {{Branch.Description}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-group row">
            <label class="col-4 col-form-label">Name</label>
            <div class="col-8">
              <label class="col-form-label font-weight-bold">{{Branch.NAME}}</label>              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Description</label>
            <div class="col-8">
              <label class="col-form-label font-weight-bold">{{Branch.Description}}</label>              
            </div>
          </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Address Line One</label>
              <div class="col-8">
                <label class="col-form-label font-weight-bold">{{Branch.AddressLine1}}</label>                
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Address Line Two</label>
              <div class="col-8">
                <label class="col-form-label font-weight-bold">{{Branch.AddressLine2}}</label>                
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">City</label>
              <div class="col-8">
                <label class="col-form-label font-weight-bold">{{Branch.City}}</label>                
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">State</label>
              <div class="col-8">
                <label class="col-form-label font-weight-bold">{{Branch.State}}</label>                
              </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="Edit()">EDIT</button>
          <button mat-button color="primary" (click)="Back()">BACK</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="d-xs-none col-sm-6 col-lg-6">
      <mat-card style="margin-top:2%">
        <mat-card-header>
          <mat-card-title>Actions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class=col-12>
              <a routerLink="/branch-users/{{Branch.BranchId}}" routerLinkActive="active">View Users</a>              
            </div>
            <div class="col-12">
                <a routerLink="/branch-add-user/{{Branch.BranchId}}" routerLinkActive="active">Add User</a>
            </div>
            <div class="col-12">
              <a routerLink="/branch-file-upload/{{Branch.BranchId}}" routerLinkActive="active">File Upload</a>
            </div>
            <div class="col-12">
              <a routerLink="/branch-audio-listen/{{Branch.BranchId}}" routerLinkActive="active">Audio</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>      
    </div>
  </div>
</div>