<div class="container">  
    <div class="row" style="margin-top: 2%;">
        <div class="col-sm-8 col-md-6 col-lg-6">
            <mat-card>
              <mat-nav-list style="padding-left: 2%;">   
                <mat-list-item>Customer : {{Customer.Description}}</mat-list-item>      
                <mat-list-item>Branches</mat-list-item>
                <mat-divider></mat-divider>       
                <mat-list-item *ngFor="let item of Branches">
                  <a [routerLink]="[item.BranchId]"  href="#">{{item.Description}}</a>
                  <mat-icon *ngIf="!item.Active"  style="border-radius: 100%; background-color: red; margin-left: 2%;" >radio_button_unchecked</mat-icon>
                  <mat-icon *ngIf="item.Active"  style="border-radius: 100%; background-color: green; margin-left: 2%;" >radio_button_unchecked</mat-icon>
                </mat-list-item>              
              </mat-nav-list>  
            </mat-card>      
          </div>
          <div class="d-xs-none col-md-6 col-lg-6">      
            <router-outlet></router-outlet>    
          </div>
    </div>  
  </div>