<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="breadcrumb-item" routerLink="/customer-detail/{{CustomerId}}" 
        routerLinkActive="active">Customer Detail</a>          
        <a class="breadcrumb-item active">Customer Groups</a>
      </nav>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Create Customer Group</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <div class="form-group row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Enter Name" [formControl]="name"
                  [(ngModel)]="Group.Name" required/>
                  <mat-error *ngIf="name.invalid && name.hasError('required')">Name is required.</mat-error>
                  <mat-error *ngIf="name.invalid && name.hasError('hasnameexist')">Name is already used.</mat-error>
                </mat-form-field>
              </div>              
              <div *ngIf="ValidationSummary" class="validation-error">
                  <span>{{ValidationSummaryMessage}}</span>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="mat-action-card-custom">        
            <button mat-raised-button color="primary"
              [disabled] = "name.invalid"
              (click)="Save()">SAVE</button>
          </mat-card-actions>
        </mat-card>
      </div>    
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <mat-card *ngIf="Groups.length > 0">
          <mat-card-header>
            <mat-card-title>Customer Groups</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let item of Groups; let i = index" 
              [ngClass]="{'selectedgroup':SelectedGroup == i}" (click)="SetActive(i, item)">
                {{item.Name}}
              </mat-list-item> 
            </mat-list>
          </mat-card-content>          
        </mat-card>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <mat-card *ngIf="SelectedGroup > -1" >
          <mat-card-header>
            <mat-card-title>Grouped Branches</mat-card-title>
          </mat-card-header>
          <mat-card-content dropDirective (dropEvent)="AddDropItem($event)">
            <mat-list *ngIf="SelectedGroupBranches.length > 0" >
                <mat-list-item *ngFor="let item of SelectedGroupBranches">
                  {{item.NAME}} <mat-icon (click)="RemoveBranchFromGroup(item.ID)">close</mat-icon>
                </mat-list-item> 
            </mat-list>            
            <mat-list *ngIf="SelectedGroupBranches.length == 0">
                <mat-list-item>
                  No branches..    
                </mat-list-item> 
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <mat-card *ngIf="Branches.length > 0 && SelectedGroup > -1">
          <mat-card-header>
            <mat-card-title>Ungrouped Branches</mat-card-title>
          </mat-card-header> 
          <mat-card-content>
            <mat-list>
              <mat-list-item [dragDirective]='item' (releaseDrop)="ReleaseDrop($event)" 
              *ngFor="let item of Branches">
                {{item.NAME}}
              </mat-list-item> 
            </mat-list>
          </mat-card-content>          
        </mat-card>
      </div>
    </div>
  </div>