.selectedgroup{
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.close-icon{
    cursor: pointer;
    font-size: 15px;
    padding-top: 5px;
}
.custom-mat-list-style{
    font-size: 15px;
    text-transform: capitalize;
}