
<mat-card class="example-card md-card-min-height">    
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Enter your username" [formControl]="username" 
        [(ngModel)]="loginUser.UserName" required />
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your password" [formControl]="password"
        [(ngModel)]="loginUser.Password" [type]="hide ? 'password' : 'text'" required />
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="email.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <button mat-raised-button (click)="Login()">Login</button>
      </mat-form-field>
    </div>
  </mat-card-content>  
</mat-card>


<!--
<input type="text" [(ngModel)]="loginUser.UserName" />
<input type="text" [(ngModel)]="loginUser.Password" />
<input type="button" (click)="Login()" value="Login" />-->