.login-container {
  display: flex;
  flex-direction: column;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.login-card{  
  min-height: 350px;
  left:50%;
  top:35%;
}

.login-card-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #3f51b5;
  color: #ffffff;
  padding-top: 2%;
  min-height: 50px;
}

.login-form-field{
  padding-bottom: 5px;
}

.login-card button {
  width:20%;  
}

.validation-error{
  color: #f44336;
}

.login-card-actions{
  float: right;
  padding-right: 20px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  .login-card{
    left:0;
    top:0;
  }
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  .login-card{
    left:25%;
    top:25%;
  }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .login-card{
    left:25%;
    top:25%;
  }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }