<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <mat-card class="login-card md-card-min-height">  
        <mat-card-title class="login-card-title">
          <span>Audio Player</span>
        </mat-card-title>  
        <mat-card-content>
          <div class="login-container">
            <mat-form-field class="login-form-field">
              <input matInput placeholder="Enter your username" [formControl]="username" 
              [(ngModel)]="loginUser.UserName" (input)="OnChangeInput()" required />
              <mat-error *ngIf="username.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="login-form-field">
              <input matInput placeholder="Enter your password" [formControl]="password"
              [(ngModel)]="loginUser.Password" [type]="hide ? 'password' : 'text'"  (input)="OnChangeInput()" required />
              <mat-icon style="cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="login-form-field">
              <mat-select placeholder="Select Customer" [formControl]="customer"
                [(ngModel)]="loginUser.CustomerId" required>
                <mat-option *ngFor="let c of Customers" [value]="c.CustomerId">{{c.Description}}</mat-option>
              </mat-select>
              <mat-error *ngIf="customer.invalid">Customer is required.</mat-error>
            </mat-form-field>
                  
            <div *ngIf="ValidationSummary" class="validation-error">
                <span>{{ValidationSummaryMessage}}</span>
            </div>
          </div>
        </mat-card-content>  
        <mat-card-actions class="mat-action-card-custom">
          <button mat-raised-button color="primary" 
          [disabled]="username.invalid || password.invalid || customer.invalid" (click)="Login()">Login</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

