<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="breadcrumb-item" routerLink="/customer-detail/{{CustomerId}}" 
        routerLinkActive="active">Customer Detail</a>
        <a class="breadcrumb-item active">Customer Branches</a>
      </nav>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 d-xs-none"></div>
      <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="container">
          <div style="text-align: right; margin:2%; text-transform: uppercase;">
            <a mat-raised-button color="primary" style="text-decoration: none;" 
            title="Add New Branch" routerLink="/add-customer-branch/{{CustomerId}}" 
            routerLinkActive="active">Add New Branch</a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-condensed" *ngIf="data?.length > 0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>                
                <tr *ngFor="let item of data; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.NAME}}</td>
                  <td>{{item.Description}}</td>
                  <td><a style="text-transform: uppercase; text-decoration: none;" 
                    routerLink="/branch-detail/{{item.BranchId}}/{{CustomerId}}" routerLinkActive="active"
                    mat-raised-button color="primary">View Detail</a></td>     
                  <td><a style="text-transform: uppercase; text-decoration: none;" 
                    routerLink="/update-customer-branch/{{item.BranchId}}/{{CustomerId}}" routerLinkActive="active"
                    mat-raised-button color="primary">Edit</a></td>               
                </tr>                                
              </tbody>
            </table>
            <table class="table table-condensed" *ngIf="data?.length == 0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>              
                  <tr>
                    <td colspan="5" style="text-align:center;">No record found..</td>
                  </tr>              
              </tbody>
            </table>
        </div>      
  
      </div>
    </div>
  </div>