<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="breadcrumb-item" routerLink="/customer-detail/{{Branch.CustomerId}}" 
        routerLinkActive="active">Customer Detail</a>
        <a class="breadcrumb-item" routerLink="/branch-detail/{{BranchId}}" 
        routerLinkActive="active">Branch Detail</a>
        <a class="breadcrumb-item active">Audio</a>
      </nav>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title><b>{{Branch.NAME}}</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="container">
              <div class="row">
                <div class="col-4">                   
                  <audio controls id="{{BranchId}}" style="display:none;">
                    <source src="{{AudioPath}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>             
                  <div class="card">
                    <img class="card-img-top" src="/assets/img/speakers-clipart-animated-gif-27.jpg" alt="Card image">
                    <div class="card-body">                      
                      <p class="card-text"><marquee>{{Name}}</marquee></p>
                      <a (click)="play()" class="btn btn-primary">Play</a>
                      <a (click)="pause()" class="btn btn-primary">Pause</a>
                      <a *ngIf="authService.IsAgencyAdmin()" style="text-transform: uppercase; text-decoration: none;" 
                        routerLink="/branch-detail/{{BranchId}}" routerLinkActive="active" 
                        class="btn btn-primary">Go To Branch</a>
                    </div>
                  </div>                   
                </div>                
              </div>
            </div>            
          </mat-card-content>          
        </mat-card>
      </div>    
    </div>
  </div>