<div class="container">
  <div class="row" *ngIf="authService.IsAgencyAdmin() || authService.IsAgencyMember() || authService.IsCustomerUser()">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="breadcrumb-item" routerLink="/customer-detail/{{Branch.CustomerId}}" 
        routerLinkActive="active">Customer Detail</a>
        <a class="breadcrumb-item" routerLink="/branch-detail/{{BranchId}}/{{Branch.CustomerId}}" 
        routerLinkActive="active">Branch Detail</a>
        <a class="breadcrumb-item active">Audio</a>
      </nav>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title style="padding-top:1%;"><b>{{Branch.NAME}}</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="container">
              <div class="row">
                <div class="col-4">                   
                  <audio #player controls id="{{BranchId}}" style="display:none;">
                    <source src="{{AudioPath}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>             
                  <div class="card">
                    <img class="card-img-top" src="/assets/img/speakers-clipart-animated-gif-27.jpg" alt="Card image">
                    <div class="card-body">                      
                      <p class="card-text"><marquee>{{Name}}</marquee></p>
                      <div class="row">
                        <div class="col-12">
                          <a mat-button color="primary" (click)="Toggle()"
                          style="min-width:2%; padding:0; margin-left:8%;" color="primary">
                              <mat-icon>
                                {{AudioPlay == false ? "play_circle_outline":"pause_circle_outline"}}
                              </mat-icon>
                          </a>
                          <a mat-button color="primary" (click)="Stop()" 
                          style="min-width:2%; padding:0;" color="primary">
                            <mat-icon>stop</mat-icon>
                          </a>   
                          <a mat-button style="min-width:2%; padding:0;" color="primary">
                            <mat-icon>volume_mute</mat-icon>
                          </a>
                          <mat-slider color="primary" [(ngModel)]="volume"
                          (change)="volumeChange()" [min]="1" [max]="100" 
                          [vertical]="false" [tickInterval]="1"></mat-slider>                      
                          <a mat-button color="primary" style="min-width:2%; padding:0;" >
                            <mat-icon>volume_up</mat-icon>
                          </a>                                            
                        </div>
                        <div class="col-12">
                          <mat-slider style="width:100%;" color="primary" [(ngModel)]="progress"
                          [min]="1" [max]="100" [disabled]="true"
                          [vertical]="false" [tickInterval]="1"></mat-slider>
                        </div>
                      </div>                      
                    </div>
                  </div>                   
                </div>                
              </div>
            </div>            
          </mat-card-content>          
        </mat-card>
      </div>    
    </div>
  </div>