<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="breadcrumb-item" routerLink="/customer-detail/{{User.CustomerId}}" 
        routerLinkActive="active">Customer Detail</a>
        <a class="breadcrumb-item" routerLink="/branch-detail/{{User.BranchId}}/{{User.CustomerId}}" 
        routerLinkActive="active">Branch Detail</a>
        <a class="breadcrumb-item" routerLink="/branch-users/{{User.BranchId}}/{{User.CustomerId}}" 
        routerLinkActive="active">Branch Users</a>
        <a class="breadcrumb-item" routerLink="/branch-user-detail/{{UserId}}/{{User.CustomerId}}" 
        routerLinkActive="active">User detail</a>
        <a class="breadcrumb-item active">Update User</a>
      </nav>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>User : <b>{{User.Name}}</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <div class="form-group row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Enter Name" [formControl]="name"
                  [(ngModel)]="User.Name" (input)="onChangeInput()" required/>
                  <mat-error *ngIf="name.invalid && name.hasError('required')">Name is required.</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Enter Username" [formControl] = "username"
                  [(ngModel)]="User.UserName" (input)="onChangeInput()" required/>
                  <mat-error *ngIf="username.invalid && username.hasError('required')">Username is required.</mat-error>
                  <mat-error *ngIf="username.invalid && username.hasError('hasnameexist')">Username already exist.</mat-error>
                </mat-form-field>           
              </div>   
              <div class="form-group row">
                <mat-form-field class="col-12">
                  <mat-select placeholder="Select Role" [formControl]="role" 
                  [(ngModel)]="User.Role" required>
                    <mat-option *ngFor="let r of Roles" [value]="r.value">{{r.text}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="role.invalid && role.hasError('required')">Role is required.</mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="ValidationSummary" class="validation-error">
                  <span>{{ValidationSummaryMessage}}</span>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions class="mat-action-card-custom">            
            <button mat-raised-button color="primary"
              [disabled] = "name.invalid || username.invalid || password.invalid || role.invalid"
              (click)="Save()">SAVE</button>
              <button mat-button color="primary" 
              (click)="Exit()">CANCEL</button>
          </mat-card-actions>
        </mat-card>
      </div>    
    </div>
  </div>