<div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrumb">
          <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
          <a class="breadcrumb-item" routerLink="/customer-detail/{{CustomerId}}" 
          routerLinkActive="active">Customer Detail</a>         
          <a class="breadcrumb-item active">Customer Users</a>
        </nav>
      </div>
    </div>
      <div class="row">
        <div class="col-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title style="padding-top:1%;">View Users for Customer : <b>{{Customer.Description}}</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-6 d-xs-none"></div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="container">
                      <div style="text-align: right; margin:2%; text-transform: uppercase;">
                        <a mat-raised-button color="primary" style="text-decoration: none;" 
                        title="Add New Customer User" routerLink="/add-customer-user/{{CustomerId}}" routerLinkActive="active">Add New User</a></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <div class="table-responsive">
                        <mat-table [dataSource]="datasource" matSort class="table table-condensed">        
                          <ng-container matColumnDef="Detail">
                            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                            <mat-cell class="action-cell" *matCellDef="let element"> 
                                <a style="text-transform: uppercase; text-decoration: none;" 
                                routerLink="/customer-user-detail/{{element.UserId}}/{{CustomerId}}" routerLinkActive="active"
                                mat-raised-button color="primary">View Detail</a>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="Edit">
                            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                            <mat-cell class="action-cell" *matCellDef="let element"> 
                                <a style="text-transform: uppercase; text-decoration: none;" 
                                routerLink="/customer-user-update/{{element.UserId}}/{{CustomerId}}" routerLinkActive="active"
                                mat-raised-button color="primary">Edit</a>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="No">
                            <mat-header-cell *matHeaderCellDef class="mat-number-column"> No. </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index" class="mat-number-column"> {{element.No}} </mat-cell>
                          </ng-container>
                
                          <ng-container matColumnDef="Name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
                          </ng-container>
                      
                          <ng-container matColumnDef="Username">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.UserName}} </mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="Role">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.UserRole}} </mat-cell>
                          </ng-container>
                      
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
                        </mat-table>
                        
                        <mat-paginator
                          [pageSize]="10"
                          [pageSizeOptions]="[5, 10, 20]"
                          [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                    <!--<div class="table-responsive">
                      <table class="table table-condensed">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">No.</th>
                              <th scope="col">Name</th>
                              <th scope="col">User Name</th>
                              <th scope="col">Role</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of Users; let i = index">
                              <th scope="row">{{i+1}}</th>
                              <td>{{item.Name}}</td>
                              <td>{{item.UserName}}</td>
                              <td>{{item.UserRole}}</td>
                              <td><a style="text-transform: uppercase; text-decoration: none;" 
                                routerLink="/customer-user-detail/{{item.UserId}}/{{CustomerId}}" routerLinkActive="active"
                                  mat-raised-button color="primary">View Detail</a></td>                  
                              <td><a style="text-transform: uppercase; text-decoration: none;" 
                                routerLink="/customer-user-update/{{item.UserId}}/{{CustomerId}}" routerLinkActive="active"
                                  mat-raised-button color="primary">Edit</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>      -->
              
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>    
      </div>
    </div>
  
  