<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item active">File Upload</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>File Upload</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <div class="form-group row">
              <mat-form-field class="col-12">
                <mat-select placeholder="Select Customer" (change)="LoadBranches()" [formControl]="customer"
                  [(ngModel)]="CustomerId" required>
                  <mat-option *ngFor="let c of Customers" [value]="c.CustomerId">{{c.Description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group row">
              <mat-form-field class="col-12">
                <mat-select [disabled]="customer.invalid"
                 placeholder="Select Branch" [formControl]="branch"
                  [(ngModel)]="BranchId" required>
                  <mat-option *ngFor="let b of Branches" [value]="b.BranchId">{{b.Description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group row">
              <div class="col-2">
                <label>File</label>
              </div>
              <div class="col-10">
                <input #audioUpload type="file" accept=".mp3,.mp4" 
                [disabled]="customer.invalid || branch.invalid" (change)="onFileChange($event)">    
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary"
           [disabled]="customer.invalid || branch.invalid || ButtonDisabled" 
          (click)="Upload()">Upload</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!--<mat-card class="file-upload-card md-card-min-height">    
  <mat-card-content>

    <mat-card class="file-upload-child-card">
        <mat-card-title class="file-upload-card-title">Audio Upload</mat-card-title>  
      <mat-card-content>
        <mat-form-field class="file-upload-select">
          <mat-select placeholder="Please Select User" [(ngModel)]="User" [formControl]="user" required>
            <mat-option *ngFor="let user of Users" [value]="user.ID">{{user.Name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="user.hasError('required')">User is <strong>required</strong>.</mat-error>
        </mat-form-field>    
    
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input #audioUpload type="file" accept=".mp3" (change)="onFileChange($event)">
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="file-upload-actions">
          <button mat-raised-button [disabled]="user.invalid || ButtonDisabled" 
          (click)="Upload()">Upload</button>
      </mat-card-actions>
    </mat-card>        

  </mat-card-content>  
</mat-card>
-->