<div class="container">  
  <div class="row" style="margin-top: 2%;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Branch : {{Branch.Description}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="form-group row">
                <label class="col-4 col-form-label">Name</label>
                <div class="col-8">
                  <label class="col-form-label font-weight-bold">{{Branch.NAME}}</label>              
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Description</label>
                <div class="col-8">
                  <label class="col-form-label font-weight-bold">{{Branch.Description}}</label>              
                </div>
              </div>
                <div class="form-group row">
                  <label class="col-4 col-form-label">Address Line One</label>
                  <div class="col-8">
                    <label class="col-form-label font-weight-bold">{{Branch.AddressLine1}}</label>                
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-4 col-form-label">Address Line Two</label>
                  <div class="col-8">
                    <label class="col-form-label font-weight-bold">{{Branch.AddressLine2}}</label>                
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-4 col-form-label">City</label>
                  <div class="col-8">
                    <label class="col-form-label font-weight-bold">{{Branch.City}}</label>                
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-4 col-form-label">State</label>
                  <div class="col-8">
                    <label class="col-form-label font-weight-bold">{{Branch.State}}</label>                
                  </div>
                </div>
            </mat-card-content>
        </mat-card>  
      </div>
  </div>  
</div>