<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/customer" routerLinkActive="active">Customers</a>
        <a class="breadcrumb-item" routerLink="/customer-detail/{{Branch.CustomerId}}" 
        routerLinkActive="active">Customer Detail</a>
        <a class="breadcrumb-item" routerLink="/branch-detail/{{BranchId}}/{{Branch.CustomerId}}" 
        routerLinkActive="active">Branch Detail</a>
        <a class="breadcrumb-item active">File Upload</a>
      </nav>
    </div>
  </div>
    <div class="row">
      <div class="col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title style="padding-top:2%;">Upload file for Branch : <b>{{Branch.NAME}}</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="container">
              <div class="row">
                <!--<div class="col-12">                -->
                   <!--<div class="form-group">-->
                      <label for="exampleInputFile" class="control-label col-sm-2 col-md-2 col-lg-2">File</label>
                      <div class="col-sm-10 col-md-10 col-lg-10">
                        <input type="file" class="" #audioUpload type="file" 
                          accept=".mp3,.mp4,.zip,.gz,.bz2,.tar,.tar.gz,.tar.bz2,.tgz,.tbz2" (change)="onFileChange($event)"
                        aria-describedby="fileHelp" />
                      </div>                      
                    <!--</div>-->
                <!--</div>                                -->
              </div>
            </div>            
          </mat-card-content>
          <mat-card-actions class="mat-action-card-custom">
            <button mat-raised-button color="primary" [disabled]="ButtonDisabled" 
              (click)="Upload()">Upload</button>
          </mat-card-actions>
        </mat-card>
      </div>    
    </div>
  </div>