/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';
/*@import '../external_modules/materialize/css/materialize.min.css';*/
body{
    background-color:#e8eaf3;
}

.md-card-min-height{
    min-height: 750px;
}

button:focus{
    background-color: #3f51b5 !important;
}

.mat-toolbar.mat-primary{
    background-color: #303e8c !important
}

/*.mat-title-custom{
    width: 85%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.mat-user-welcome-message{
    text-transform: uppercase;
}

.mat-menu-item {
    background: 0 0 !important;
    color: rgba(0,0,0,.87) !important;
}

.mat-user-button{
    width:15% !important;
    font-size: 13px !important;
}

.mat-user-button .mat-icon{
    font-size:13px !important;
}*/

/*
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-width : 321px) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (max-width : 320px) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen  and (min-width : 1224px) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen  and (min-width : 1824px) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .md-card-min-height{
        min-height: 0;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .md-card-min-height{
        min-height: 0;
    }
}*/