/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';
/*@import '../external_modules/materialize/css/materialize.min.css';*/
body{
    background-color:#e8eaf3;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;    
}

.md-card-min-height{
    min-height: 750px;
}

button:focus{
    background-color: #3f51b5 !important;
}

.mat-toolbar.mat-primary{
    background-color: #303e8c !important
}

/*.mat-title-custom{
    width: 85%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.mat-user-welcome-message{
    text-transform: uppercase;
}

.mat-menu-item {
    background: 0 0 !important;
    color: rgba(0,0,0,.87) !important;
}

.mat-user-button{
    width:15% !important;
    font-size: 13px !important;
}

.mat-user-button .mat-icon{
    font-size:13px !important;
}*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }