/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';
/*@import '../external_modules/materialize/css/materialize.min.css';*/
body{
    background-color:#e8eaf3;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;    
}

.md-card-min-height{
    min-height: 750px;
}

.mat-toolbar.mat-primary{
    background-color: #303e8c !important
}

.mat-action-card-custom{
    text-align: right;
    margin-right: 1% !important;
    padding-bottom: 3% !important;
    padding-right: 3% !important;
}
.breadcrumb{
    text-transform: uppercase;
    font-size: 13px !important;
    background-color: #FFFFFF !important;
}
.mat-card{
    padding:0!important;
}
.mat-card-content{
    padding:0 25px !important;
    margin-top:3% !important;
}
.mat-card-header{
    background-color: #E9ECEF !important
}
.mat-card-header-text{
    width:100% !important;
}
.mat-card-title{
    text-align: center;
    margin-bottom: 0 !important;
    color: #303e8c;
    min-height: 40px;
    padding-top: 2%;
    text-transform: uppercase;
    font-weight: bold;
}
.detail-link{
    text-decoration: none !important;
    text-transform: capitalize !important;
    font-size: 12px !important;
}

.list_active{
    text-decoration: underline !important;
    color: blue !important;
    font-weight: bold;
}

.mat-header-row{
    background-color: #303e8c;
}

.mat-header-cell{
    font-weight: bold !important;
    font-size: 15px !important;
    color: #fff !important;
}

.action-cell{
    text-align: center !important;
}

.mat-number-column{
    flex: 0 0 7% !important;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }