<mat-toolbar color="primary">
  <span class="mat-title-custom">Audio Player</span>
  <button mat-icon-button class="mat-user-button" [matMenuTriggerFor]="menu">
    <span class="mat-user-welcome-message">Welcome {{Name}}</span>
    <mat-icon>details</mat-icon>    
  </button>  

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="Redirect('/dashboard')">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item (click)="Redirect('/audioup')">
      <mat-icon>file_upload</mat-icon>
      <span>Audio Upload</span>
    </button>
    <button mat-menu-item (click)="Redirect('/audiolisten')">
      <mat-icon>album</mat-icon>
      <span>Audio Listen</span>
    </button>
    <button mat-menu-item (click)="Logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>    
  </mat-menu>
</mat-toolbar>

<mat-card class="md-card-min-height">
  <mat-card class="dashboard-card">    
    <mat-card-title>
      <span>Upload Music</span>
    </mat-card-title>
    <mat-card-content>
      <p>
        The following screen can be used to upload music for users.
      </p>
    </mat-card-content> 
    <mat-card-actions>
      <button mat-raised-button (click)="Redirect('/audioup')">Click</button>
    </mat-card-actions> 
  </mat-card>
  <mat-card class="dashboard-card">
    <mat-card-title>
      Play Music
    </mat-card-title>    
    <mat-card-content>
      <p>
        The following screen can be used to verify the list of music assigned for an user.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="Redirect('/audiolisten')">Click</button>
    </mat-card-actions>  
  </mat-card>
</mat-card>

