.dashboard-card{
    width: 40%;
    float: left;
    margin-left: 5%;
}

.dashboard-card-actions{
    float: right;
    padding-right: 10px;
}

.dashboard-parent-card{
    padding-left: 0!important;
}